{
  "openapi": "3.0.1",
  "info": {
    "title": "API V1",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://fiber-explorer-api-testnet.magickbase.com",
      "description": "Test server for Fiber Explorer API on Testnet"
    }
  ],
  "paths": {
    "/graph_nodes/{node_id}/ckb_transactions": {
      "get": {
        "summary": "list ckb_transactions",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Graph node ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_hash",
            "in": "query",
            "required": false,
            "description": "Filter by from/to address of open or close transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type_hash",
            "in": "query",
            "required": false,
            "description": "\"0x0\" filters CKB; otherwise, use the corresponding UDT type hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_token_amount",
            "in": "query",
            "required": false,
            "description": "Minimum token amount (capacity for CKB, udt_amount for UDT)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_token_amount",
            "in": "query",
            "required": false,
            "description": "Maximum token amount (capacity for CKB, udt_amount for UDT)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "close"
              ]
            },
            "description": "Filter by channel status"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter by channel creation start timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter by channel creation end timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "position_time.asc",
                "position_time.desc",
                "capacity.asc",
                "capacity.desc"
              ]
            },
            "description": "Sort by position time or capacity"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkbTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid paginate parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.PAGE_OVERFLOW"
                }
              }
            }
          }
        }
      }
    },
    "/graph_nodes/{node_id}/graph_channels": {
      "get": {
        "summary": "list graph_channels",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Graph node ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_hash",
            "in": "query",
            "required": false,
            "description": "Filter by from/to address of open or close transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type_hash",
            "in": "query",
            "required": false,
            "description": "\"0x0\" filters CKB; otherwise, use the corresponding UDT type hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_token_amount",
            "in": "query",
            "required": false,
            "description": "Minimum token amount (capacity for CKB, udt_amount for UDT)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_token_amount",
            "in": "query",
            "required": false,
            "description": "Maximum token amount (capacity for CKB, udt_amount for UDT)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "close"
              ]
            },
            "description": "Filter by channel status"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter by channel creation start timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter by channel creation end timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "position_time.asc",
                "position_time.desc",
                "capacity.asc",
                "capacity.desc"
              ]
            },
            "description": "Sort by position time or capacity"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphChannels"
                }
              }
            }
          },
          "400": {
            "description": "Invalid paginate parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.PAGE_OVERFLOW"
                }
              }
            }
          }
        }
      }
    },
    "/graph_channels/{id}": {
      "get": {
        "summary": "show graph_channel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Channel ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphChannel"
                }
              }
            }
          },
          "404": {
            "description": "Invalid channel id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          }
        }
      }
    },
    "/graph_nodes": {
      "get": {
        "summary": "list graph_nodes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphNodes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid paginate parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.PAGE_OVERFLOW"
                }
              }
            }
          }
        }
      }
    },
    "/graph_nodes/{node_id}": {
      "get": {
        "summary": "show graph_node",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Node ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphNode"
                }
              }
            }
          }
        }
      }
    },
    "/graph_topology": {
      "get": {
        "summary": "list graph_topology",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphTopology"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "search graph nodes",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Array of search results"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CkbTransactions": {
        "type": "object",
        "description": "CKB transactions related to a specific graph node",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "List of CKB transaction resources",
            "items": {
              "type": "object",
              "required": [
                "id",
                "type",
                "attributes"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "ckb_transaction"
                  ],
                  "description": "Resource type, always 'ckb_transaction'"
                },
                "attributes": {
                  "type": "object",
                  "required": [
                    "is_open",
                    "is_udt",
                    "tx_hash",
                    "block_number",
                    "block_timestamp"
                  ],
                  "properties": {
                    "is_open": {
                      "type": "boolean",
                      "description": "Whether this is an open transaction"
                    },
                    "is_udt": {
                      "type": "boolean",
                      "description": "Whether this transaction involves a UDT"
                    },
                    "tx_hash": {
                      "type": "string",
                      "description": "The transaction hash"
                    },
                    "block_number": {
                      "type": "string",
                      "description": "Block number in which the transaction is included"
                    },
                    "block_timestamp": {
                      "type": "string",
                      "description": "Timestamp of the block including the transaction"
                    },
                    "close_accounts": {
                      "type": "array",
                      "description": "Accounts involved in closing the transaction",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "required": [
                          "capacity",
                          "address_hash"
                        ],
                        "properties": {
                          "capacity": {
                            "type": "string",
                            "description": "Amount of capacity involved"
                          },
                          "ckb_udt_info": {
                            "type": "object",
                            "nullable": true,
                            "description": "Optional UDT info if present",
                            "properties": {
                              "full_name": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimal": {
                                "type": "integer"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "type_hash": {
                                "type": "string"
                              }
                            }
                          },
                          "address_hash": {
                            "type": "string",
                            "description": "The receiving address"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "error.BAD_REQUEST": {
        "type": "object",
        "required": [
          "code",
          "status",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "1000"
          },
          "status": {
            "type": "string",
            "example": "400"
          },
          "message": {
            "type": "string",
            "example": "params are missing"
          }
        }
      },
      "error.PAGE_OVERFLOW": {
        "type": "object",
        "required": [
          "code",
          "status",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "1002"
          },
          "status": {
            "type": "string",
            "example": "400"
          },
          "message": {
            "type": "string",
            "example": "page overflow"
          }
        }
      },
      "error.NOT_FOUND": {
        "type": "object",
        "required": [
          "code",
          "status",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "1005"
          },
          "status": {
            "type": "string",
            "example": "404"
          },
          "message": {
            "type": "string",
            "example": "GraphChannel with id=03ea0039f70d06eabd614ea8d4da730b865d1f61a05392d5b9967a93ecc0bb3996 not found"
          }
        }
      },
      "GraphChannels": {
        "type": "object",
        "description": "Get the list of channels in the network graph",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "List of graph_channel resources",
            "items": {
              "$ref": "#/components/schemas/GraphChannelResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "GraphChannel": {
        "type": "object",
        "description": "The channel info with two directions of channel",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GraphChannelResource"
          }
        }
      },
      "GraphChannelResource": {
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "graph_channel"
            ],
            "description": "Resource type, always 'graph_channel'"
          },
          "attributes": {
            "type": "object",
            "required": [
              "channel_outpoint",
              "node1",
              "node2",
              "created_timestamp",
              "update_info_of_node1",
              "update_info_of_node2",
              "capacity",
              "chain_hash",
              "ckb_open_transaction_info",
              "ckb_close_transaction_info",
              "ckb_udt_info"
            ],
            "properties": {
              "channel_outpoint": {
                "type": "string",
                "description": "The outpoint of the channel"
              },
              "node1": {
                "type": "string",
                "description": "The identity public key of the first node"
              },
              "node2": {
                "type": "string",
                "description": "The identity public key of the second node"
              },
              "created_timestamp": {
                "type": "string",
                "description": "The created timestamp of the channel, which is the block header timestamp of the block that contains the channel funding transaction"
              },
              "update_info_of_node1": {
                "type": "object",
                "description": "The update info from node1 to node2, e.g. timestamp, fee_rate, tlc_expiry_delta, tlc_minimum_value",
                "$ref": "#/components/schemas/ChannelUpdateInfo",
                "nullable": true
              },
              "update_info_of_node2": {
                "type": "object",
                "description": "The update info from node2 to node1, e.g. timestamp, fee_rate, tlc_expiry_delta, tlc_minimum_value",
                "$ref": "#/components/schemas/ChannelUpdateInfo",
                "nullable": true
              },
              "capacity": {
                "type": "string",
                "description": "The capacity of the channel"
              },
              "chain_hash": {
                "type": "string",
                "description": "The chain hash of the channel"
              },
              "ckb_open_transaction_info": {
                "$ref": "#/components/schemas/CkbOpenTransactionInfo"
              },
              "ckb_close_transaction_info": {
                "$ref": "#/components/schemas/CkbCloseTransactionInfo",
                "nullable": true
              },
              "ckb_udt_info": {
                "$ref": "#/components/schemas/CkbOutputUdtInfo",
                "nullable": true
              }
            }
          }
        }
      },
      "ChannelUpdateInfo": {
        "type": "object",
        "description": "The channel update info with a single direction of channel",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "The timestamp is the time when the channel update was received by the node"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the channel can be currently used for payments (in this one direction)"
          },
          "outbound_liquidity": {
            "type": "string",
            "description": "The exact amount of balance that we can send to the other party via the channel"
          },
          "tlc_expiry_delta": {
            "type": "string",
            "description": "The difference in htlc expiry values that you must have when routing through this channel (in milliseconds)"
          },
          "tlc_minimum_value": {
            "type": "string",
            "description": "The minimum value, which must be relayed to the next hop via the channel"
          },
          "fee_rate": {
            "type": "string",
            "description": "The forwarding fee rate for the channel"
          }
        }
      },
      "CkbOpenTransactionInfo": {
        "type": "object",
        "description": "Info of the CKB open transaction",
        "properties": {
          "tx_hash": {
            "type": "string",
            "description": "The transaction hash"
          },
          "block_number": {
            "type": "integer",
            "description": "The block number in which the transaction was included"
          },
          "block_timestamp": {
            "type": "integer",
            "description": "The timestamp of the block (in milliseconds)"
          },
          "capacity": {
            "type": "string",
            "description": "The capacity of the cell (in shannon)"
          },
          "ckb_udt_info": {
            "$ref": "#/components/schemas/CkbOutputUdtInfo",
            "nullable": true
          },
          "address_hash": {
            "type": "string",
            "description": "The lock address of the cell"
          }
        }
      },
      "CkbCloseTransactionInfo": {
        "type": "object",
        "description": "Info of the CKB close transaction",
        "required": [
          "tx_hash",
          "block_number",
          "block_timestamp",
          "close_accounts"
        ],
        "properties": {
          "tx_hash": {
            "type": "string",
            "description": "The transaction hash"
          },
          "block_number": {
            "type": "integer",
            "description": "The block number in which the transaction was included"
          },
          "block_timestamp": {
            "type": "integer",
            "description": "The timestamp of the block (in milliseconds)"
          },
          "close_accounts": {
            "type": "array",
            "description": "Accounts receiving funds when the channel is closed",
            "items": {
              "type": "object",
              "required": [
                "capacity",
                "ckb_udt_info",
                "address_hash"
              ],
              "properties": {
                "capacity": {
                  "type": "string",
                  "description": "Capacity (in shannon) received by the account"
                },
                "ckb_udt_info": {
                  "$ref": "#/components/schemas/CkbOutputUdtInfo"
                },
                "address_hash": {
                  "type": "string",
                  "description": "The address receiving the funds"
                }
              }
            }
          }
        }
      },
      "CkbOutputUdtInfo": {
        "type": "object",
        "description": "UDT metadata associated with the cell",
        "required": [
          "full_name",
          "symbol",
          "decimal",
          "icon",
          "type_hash"
        ],
        "properties": {
          "full_name": {
            "type": "string",
            "description": "Full name of the UDT"
          },
          "symbol": {
            "type": "string",
            "description": "Symbol of the UDT"
          },
          "decimal": {
            "type": "integer",
            "description": "Decimal precision"
          },
          "icon": {
            "type": "string",
            "description": "Icon as either a URL or a base64-encoded inline SVG string"
          },
          "type_hash": {
            "type": "string",
            "description": "Type hash of the UDT"
          }
        }
      },
      "GraphNodes": {
        "type": "object",
        "description": "Get the list of nodes in the network graph",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "List of graph_node resources",
            "items": {
              "$ref": "#/components/schemas/GraphNodeResource"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "GraphNode": {
        "type": "object",
        "description": "The Node information",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GraphNodeResource"
          }
        }
      },
      "GraphNodeResource": {
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "graph_node"
            ],
            "description": "Resource type, always 'graph_node'"
          },
          "attributes": {
            "type": "object",
            "required": [
              "addresses",
              "chain_hash",
              "node_name",
              "node_id",
              "peer_id",
              "connected_node_ids",
              "auto_accept_min_ckb_funding_amount",
              "created_timestamp",
              "last_updated_timestamp",
              "timestamp",
              "open_channels_count",
              "total_capacity"
            ],
            "properties": {
              "addresses": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The addresses of the node"
              },
              "chain_hash": {
                "type": "string",
                "description": "The chain hash of the node"
              },
              "node_name": {
                "type": "string",
                "description": "The name of the node"
              },
              "node_id": {
                "type": "string",
                "description": "The identity public key of the node"
              },
              "peer_id": {
                "type": "string",
                "description": "Peer ID derived from node ID"
              },
              "connected_node_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "IDs of other nodes connected to this node"
              },
              "auto_accept_min_ckb_funding_amount": {
                "type": "string",
                "description": "The minimum CKB funding amount for automatically accepting open channel requests"
              },
              "created_timestamp": {
                "type": "string",
                "description": "Unix timestamp (ms) when the node was created"
              },
              "last_updated_timestamp": {
                "type": "string",
                "description": "Unix timestamp (ms) when the node was last updated"
              },
              "deleted_at_timestamp": {
                "type": "string",
                "nullable": true,
                "description": "Timestamp (ms) when the node was deleted, or null if active"
              },
              "timestamp": {
                "type": "string",
                "description": "The latest timestamp set by the owner for the node announcement. When a Node is online this timestamp will be updated to the latest value"
              },
              "open_channels_count": {
                "type": "string",
                "description": "Number of open channels connected to the node"
              },
              "total_capacity": {
                "type": "string",
                "description": "Total capacity (in shannon) held by the node"
              },
              "udt_cfg_infos": {
                "type": "array",
                "description": "UDT configuration infos announced by the node",
                "nullable": true,
                "items": {
                  "type": "object",
                  "required": [
                    "full_name",
                    "symbol",
                    "decimal",
                    "icon",
                    "type_hash",
                    "auto_accept_amount",
                    "total_liquidity"
                  ],
                  "properties": {
                    "full_name": {
                      "type": "string",
                      "description": "Full name of the UDT"
                    },
                    "symbol": {
                      "type": "string",
                      "description": "Symbol of the UDT"
                    },
                    "decimal": {
                      "type": "string",
                      "description": "Decimal precision"
                    },
                    "icon": {
                      "type": "string",
                      "description": "Icon as either a URL or a base64-encoded inline SVG string"
                    },
                    "type_hash": {
                      "type": "string",
                      "description": "Type hash of the UDT"
                    },
                    "auto_accept_amount": {
                      "type": "string",
                      "description": "Auto-accept amount of the UDT"
                    },
                    "total_liquidity": {
                      "type": "string",
                      "description": "Total liquidity of the UDT"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GraphTopology": {
        "type": "object",
        "description": "List of graph topology items",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of graph_topology resources",
            "items": {
              "type": "object",
              "required": [
                "type",
                "attributes"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "graph_topology"
                  ],
                  "description": "Resource type, always 'graph_topology'"
                },
                "attributes": {
                  "type": "object",
                  "required": [
                    "node_id",
                    "addresses",
                    "connected_node_ids"
                  ],
                  "properties": {
                    "node_id": {
                      "type": "string",
                      "description": "The identity public key of the node"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The addresses of the node"
                    },
                    "connected_node_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of node IDs this node is connected to"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "total_count",
          "current_page"
        ],
        "properties": {
          "total_count": {
            "type": "integer",
            "description": "Total number of matching records"
          },
          "current_page": {
            "type": "integer",
            "description": "Current page number"
          }
        }
      }
    }
  }
}